 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 845px;
}

.u-section-1 .u-image-1 {
  width: 560px;
  height: 270px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 288px 11px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: horizon;
  font-size: 3.125rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -244px 624px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 37px auto 60px 0;
  padding: 14px 96px 14px 95px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 368px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -324px;
    margin-right: 402px;
    margin-left: 23px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 117px;
    margin-left: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 260px;
    margin-top: 362px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -308px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-1 .u-image-1 {
    height: 147px;
    width: 304px;
    margin-top: 425px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -349px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-left: auto;
    padding: 9px 68px 9px 67px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 402px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: horizon;
  text-transform: none;
  font-size: 1.5rem;
  margin: 130px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 58px 60px 36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 776px;
}

.u-section-3 .u-text-1 {
  font-family: horizon;
  font-size: 2.25rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-weight: 700;
  margin: 59px 30px 60px 430px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 369px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 169px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-family: horizon;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 234px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-social-icons-1 {
  height: 39px;
  min-height: 16px;
  width: 236px;
  min-width: 166px;
  margin: 0 auto;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 156px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 98px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-left: auto;
  }
}@font-face {
  font-family: 'horizon';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/horizon.otf);
}