.u-section-1 .u-sheet-1 {
  min-height: 1564px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-family: horizon;
  font-size: 3rem;
  margin-top: 20px;
}

.u-section-1 .u-image-1 {
  width: 221px;
  height: 221px;
  object-position: 59.19% 50%;
  margin: 62px auto 0;
}

.u-section-1 .u-image-2 {
  width: 221px;
  height: 221px;
  object-position: 50% 50%;
  margin: -221px 57px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 221px;
  height: 221px;
  object-position: 50% 18.71%;
  margin: -221px auto 0 57px;
}

.u-section-1 .u-text-2 {
  font-family: horizon;
  margin: 20px 57px 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: horizon;
  margin: -21px auto 0 46px;
}

.u-section-1 .u-text-4 {
  font-family: horizon;
  margin: -21px auto 0;
}

.u-section-1 .u-text-5 {
  font-family: horizon;
  font-size: 0.75rem;
  margin: 13px auto 0 113px;
}

.u-section-1 .u-text-6 {
  font-family: horizon;
  font-size: 0.75rem;
  margin: -14px 57px 0 auto;
}

.u-section-1 .u-text-7 {
  font-family: horizon;
  font-size: 0.75rem;
  margin: -14px auto 0;
}

.u-section-1 .u-image-4 {
  width: 221px;
  height: 221px;
  object-position: 50% 21.37%;
  margin: 66px auto 0;
}

.u-section-1 .u-image-5 {
  width: 221px;
  height: 221px;
  margin: -221px auto 0 60px;
}

.u-section-1 .u-image-6 {
  width: 221px;
  height: 221px;
  margin: -221px auto 0 865px;
}

.u-section-1 .u-text-8 {
  font-family: horizon;
  margin: 20px auto 0 65px;
}

.u-section-1 .u-text-9 {
  font-family: horizon;
  margin: -21px auto 0;
}

.u-section-1 .u-text-10 {
  font-family: horizon;
  margin: -21px auto 0 894px;
}

.u-section-1 .u-text-11 {
  font-family: horizon;
  font-size: 0.75rem;
  margin: 19px auto 0 107px;
}

.u-section-1 .u-text-12 {
  font-family: horizon;
  font-size: 0.75rem;
  margin: -13px auto 0;
}

.u-section-1 .u-text-13 {
  font-family: horizon;
  font-size: 0.75rem;
  margin: -14px 93px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 221px;
  height: 221px;
  margin: 59px auto 0 862px;
}

.u-section-1 .u-image-8 {
  width: 221px;
  height: 221px;
  margin: -221px auto 0;
}

.u-section-1 .u-image-9 {
  width: 221px;
  height: 221px;
  object-position: 50% 39.14%;
  margin: -221px auto 0 57px;
}

.u-section-1 .u-text-14 {
  font-family: horizon;
  margin: 20px auto 0 891px;
}

.u-section-1 .u-text-15 {
  font-family: horizon;
  margin: -21px auto 0 63px;
}

.u-section-1 .u-text-16 {
  font-family: horizon;
  margin: -21px auto 0;
}

.u-section-1 .u-text-17 {
  font-family: horizon;
  font-size: 0.75rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-18 {
  font-family: horizon;
  font-size: 0.75rem;
  margin: -14px 121px 0 auto;
}

.u-section-1 .u-text-19 {
  font-family: horizon;
  font-size: 0.75rem;
  margin: -14px auto 0 106px;
}

.u-section-1 .u-image-10 {
  width: 221px;
  height: 221px;
  margin: 57px auto 0 661px;
}

.u-section-1 .u-image-11 {
  width: 221px;
  height: 221px;
  margin: -221px auto 0 259px;
}

.u-section-1 .u-text-20 {
  font-family: horizon;
  margin: 20px auto 0 690px;
}

.u-section-1 .u-text-21 {
  font-family: horizon;
  margin: -21px auto 0 258px;
}

.u-section-1 .u-text-22 {
  font-family: horizon;
  font-size: 0.75rem;
  margin: 20px auto 0 338px;
}

.u-section-1 .u-text-23 {
  font-family: horizon;
  font-size: 0.75rem;
  margin: -14px auto 60px 755px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-6 {
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -28px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 440px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 37px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 694px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 26px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 335px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 699px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 33px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 383px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -28px;
    margin-left: 720px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 691px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 331px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 29px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 707px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 365px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 561px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 159px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 469px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 158px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 523px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 61px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -62px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 75px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 45px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 474px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 251px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 530px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 54px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 293px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 551px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 37px;
    margin-left: 471px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 221px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 535px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -42px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 273px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 41px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 400px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 337px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 99px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 114px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-top: 261px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -462px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 302px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -103px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 171px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -62px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 58px;
    margin-left: 280px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 23px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 280px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 12px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 377px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 220px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 413px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 291px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 20px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 394px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 20px;
    margin-left: 198px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 245px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 185px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 253px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 75px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 86px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 307px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -92px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 57px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
    margin-left: 57px;
  }

  .u-section-1 .u-text-8 {
    margin-left: -11px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 68px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-left: 200px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 84px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 139px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 260px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 7px;
    margin-left: 81px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 22px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 19px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 228px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 104px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 71px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 76px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -44px;
    margin-bottom: 17px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 72px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 72px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 159px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 47px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 54px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 178px;
  }
}@font-face {
  font-family: 'horizon';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/horizon.otf);
}